{% extends 'base.html.twig' %}

{% block title %}New Rooms{% endblock %}

{% block body %}
    <h1>Create new Rooms</h1>

    {{ include('rooms/_form.html.twig') }}

    <a href="{{ path('rooms_index') }}">back to list</a>
{% endblock %}
