{% extends 'base.html.twig' %}


{% block body %}
    <div class="homepage">
        <div class="circle blue"></div>
        <div class="centered"></div>
    </div>
    <div class="middlediv"></div>

    <div id="footer1">
        <div id="footerleft">
            <br>
        </div>
        <div id="footerright">
            <br> <h1>Contact</h1>
            <br> Tel : 010 12345678
            <br> Location : Rotterdam 5395 RD
            <br> Email : 1034732@   mborijnland.nl

        </div>
    </div>

{% endblock %}
